#titulo {
    background-color: #663a7f;
    width: 100%;
    height: 150px;
    color: wheat;
    font-size: 100px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#menu {
    background-color: beige;
    font-size: 30px;
}

.imagenInicio {
    max-width: 90%;
}

.eslogan {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    font-style: italic;
}
.imagenPrincipal {
    max-width: 70%;
    height: auto;
}

p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
}